@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
    font-family: "Asap", sans-serif;
    box-sizing: border-box;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #42455a;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #00c2cb;
}

body {
    background: #222;
    font-family: "Helvetica";
}

header.tab {
    font-family: "Helvetica";
    overflow: hidden;
    background-color: inherit;
}

header h2 a {
    padding: 20px;
    text-decoration: none;
}

header h2 a img:hover {
    transform: scale(1.3);
    transition: transform .2s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button.closed:hover {
    transform: scale(1.3);
    transition: 0.5s ease-out;
}

.tab button.closed:active {
    background-color: #5f9c5c;
    transition: 0.5s ease-out;
}

.tab button.open {
    background-color: #5f9c5c;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}

.imgstyle {
    border-radius: 25px;
    border: 2px solid #eee;
}